lang: node_js
node_js:
  - "node"

cache: npm

script:
  - npm install @vue/cli
  - npm install
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist
  on:
    branch: main
