#classes-table {
	@apply container space-y-2;
}

#actions-bar {
	@apply flex flex-col sm:flex-row sm:justify-between items-center mb-2;
}

#search-form {
	@apply w-full sm:w-auto my-1;
}

#search-form input {
	@apply w-full sm:w-auto h-full border border-gray-500 rounded p-2 mb-1;
}

#search-form button {
	@apply w-full sm:w-auto h-full sm:ml-2;
}

.btn {
	@apply transition-colors duration-300 ease-in-out bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded;
}

#filter {
	@apply border border-gray-500 rounded p-3 mb-3 text-right;
}

#btn-toggle-filter {
	@apply w-full sm:w-auto h-full;
}

#filters {
	@apply flex flex-wrap mb-2;
}

#filters .cb-group {
	@apply flex items-center mr-4;
}

#filters .cb-group input {
	@apply w-5 h-5 mr-1;
}

#filters .cb-group label {
	@apply font-semibold;
}

#btn-reset-filter {
	@apply bg-red-500 hover:bg-red-700;
}

#table-wrapper {
	@apply w-full overflow-x-auto;
}

.table-actions {
	@apply flex justify-between flex-wrap;
}

#btn-unselect-classes {
	@apply mb-1;
}

#table {
	@apply w-full;
}

#table th,
#table td {
	@apply border border-gray-500 p-2 text-lg;
	min-width: 5rem;
}

#table tr th:first-child,
#table tr td:first-child {
	min-width: 0;
}

#table tr td input {
	@apply w-5 h-5 m-2 cursor-pointer;
}

#table tr {
	@apply hover:bg-gray-100;
}

#table th {
	@apply text-white bg-gray-700;
}

.pagination-bar {
	@apply flex justify-end items-center space-x-4;
}

.page-number {
	@apply text-xl py-1 px-3 text-center font-semibold border border-gray-500 rounded;
}

.pag-btn {
	@apply p-1.5 rounded bg-gray-700 text-white cursor-pointer;
}

.pag-btn svg {
	@apply w-7 h-7;
}

.bounce-enter-active {
	animation: bounce-in 0.5s;
}
.bounce-leave-active {
	animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		transform: scale(1.15);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
